PRAGMA foreign_keys=OFF;
CREATE TABLE `users_sessions` (
	`_order` integer NOT NULL,
	`_parent_id` integer NOT NULL,
	`id` text PRIMARY KEY NOT NULL,
	`created_at` text,
	`expires_at` text NOT NULL,
	FOREIGN KEY (`_parent_id`) REFERENCES `users`(`id`) ON UPDATE no action ON DELETE cascade
);
INSERT INTO users_sessions VALUES(1,1,'538e0eee-67da-4a89-acaf-d1d1e0c1b2be','2026-02-28T14:55:29.422Z','2026-02-28T16:55:29.422Z');
CREATE TABLE `users` (
	`id` integer PRIMARY KEY NOT NULL,
	`name` text NOT NULL,
	`role` text DEFAULT 'author' NOT NULL,
	`avatar_id` integer,
	`updated_at` text DEFAULT (strftime('%Y-%m-%dT%H:%M:%fZ', 'now')) NOT NULL,
	`created_at` text DEFAULT (strftime('%Y-%m-%dT%H:%M:%fZ', 'now')) NOT NULL,
	`email` text NOT NULL,
	`reset_password_token` text,
	`reset_password_expiration` text,
	`salt` text,
	`hash` text,
	`login_attempts` numeric DEFAULT 0,
	`lock_until` text,
	FOREIGN KEY (`avatar_id`) REFERENCES `media`(`id`) ON UPDATE no action ON DELETE set null
);
CREATE TABLE `media` (
	`id` integer PRIMARY KEY NOT NULL,
	`updated_at` text DEFAULT (strftime('%Y-%m-%dT%H:%M:%fZ', 'now')) NOT NULL,
	`created_at` text DEFAULT (strftime('%Y-%m-%dT%H:%M:%fZ', 'now')) NOT NULL,
	`url` text,
	`thumbnail_u_r_l` text,
	`filename` text,
	`mime_type` text,
	`filesize` numeric,
	`width` numeric,
	`height` numeric,
	`focal_x` numeric,
	`focal_y` numeric,
	`sizes_thumbnail_url` text,
	`sizes_thumbnail_width` numeric,
	`sizes_thumbnail_height` numeric,
	`sizes_thumbnail_mime_type` text,
	`sizes_thumbnail_filesize` numeric,
	`sizes_thumbnail_filename` text,
	`sizes_card_url` text,
	`sizes_card_width` numeric,
	`sizes_card_height` numeric,
	`sizes_card_mime_type` text,
	`sizes_card_filesize` numeric,
	`sizes_card_filename` text,
	`sizes_hero_url` text,
	`sizes_hero_width` numeric,
	`sizes_hero_height` numeric,
	`sizes_hero_mime_type` text,
	`sizes_hero_filesize` numeric,
	`sizes_hero_filename` text
);
INSERT INTO media VALUES(1,'2026-02-26T00:07:20.086Z','2026-02-26T00:07:20.086Z','/api/media/file/whatsapp_image_2026-02-25_at_20.45_44-ef801.jpg',NULL,'whatsapp_image_2026-02-25_at_20.45_44-ef801.jpg','image/jpeg',47784,680,401,50,50,'/api/media/file/whatsapp_image_2026-02-25_at_20.45_44-ef801-400x300.jpg',400,300,'image/jpeg',22557,'whatsapp_image_2026-02-25_at_20.45_44-ef801-400x300.jpg',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL);
INSERT INTO media VALUES(2,'2026-02-26T01:27:17.369Z','2026-02-26T01:27:17.369Z','/api/media/file/490920dc-075d-45de-adf3-de81da86afae-5ff4e.jpg',NULL,'490920dc-075d-45de-adf3-de81da86afae-5ff4e.jpg','image/jpeg',59756,600,400,50,50,'/api/media/file/490920dc-075d-45de-adf3-de81da86afae-5ff4e-400x300.jpg',400,300,'image/jpeg',30214,'490920dc-075d-45de-adf3-de81da86afae-5ff4e-400x300.jpg',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL);
INSERT INTO media VALUES(3,'2026-02-26T01:27:37.254Z','2026-02-26T01:27:37.254Z','/api/media/file/e3277d7a-347b-4b0d-aebe-f9490767aa7d-30d4d.jpg',NULL,'e3277d7a-347b-4b0d-aebe-f9490767aa7d-30d4d.jpg','image/jpeg',59045,600,400,50,50,'/api/media/file/e3277d7a-347b-4b0d-aebe-f9490767aa7d-30d4d-400x300.jpg',400,300,'image/jpeg',30189,'e3277d7a-347b-4b0d-aebe-f9490767aa7d-30d4d-400x300.jpg',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL);
CREATE TABLE `media_locales` (
	`alt` text,
	`id` integer PRIMARY KEY NOT NULL,
	`_locale` text NOT NULL,
	`_parent_id` integer NOT NULL,
	FOREIGN KEY (`_parent_id`) REFERENCES `media`(`id`) ON UPDATE no action ON DELETE cascade
);
CREATE TABLE `categories` (
	`id` integer PRIMARY KEY NOT NULL,
	`slug` text NOT NULL,
	`updated_at` text DEFAULT (strftime('%Y-%m-%dT%H:%M:%fZ', 'now')) NOT NULL,
	`created_at` text DEFAULT (strftime('%Y-%m-%dT%H:%M:%fZ', 'now')) NOT NULL
);
CREATE TABLE `categories_locales` (
	`name` text NOT NULL,
	`description` text,
	`id` integer PRIMARY KEY NOT NULL,
	`_locale` text NOT NULL,
	`_parent_id` integer NOT NULL,
	FOREIGN KEY (`_parent_id`) REFERENCES `categories`(`id`) ON UPDATE no action ON DELETE cascade
);
CREATE TABLE `tags` (
	`id` integer PRIMARY KEY NOT NULL,
	`slug` text NOT NULL,
	`updated_at` text DEFAULT (strftime('%Y-%m-%dT%H:%M:%fZ', 'now')) NOT NULL,
	`created_at` text DEFAULT (strftime('%Y-%m-%dT%H:%M:%fZ', 'now')) NOT NULL
);
CREATE TABLE `tags_locales` (
	`name` text NOT NULL,
	`id` integer PRIMARY KEY NOT NULL,
	`_locale` text NOT NULL,
	`_parent_id` integer NOT NULL,
	FOREIGN KEY (`_parent_id`) REFERENCES `tags`(`id`) ON UPDATE no action ON DELETE cascade
);
CREATE TABLE `actualites_carousel` (
	`_order` integer NOT NULL,
	`_parent_id` integer NOT NULL,
	`id` text PRIMARY KEY NOT NULL,
	`image_id` integer,
	FOREIGN KEY (`image_id`) REFERENCES `media`(`id`) ON UPDATE no action ON DELETE set null,
	FOREIGN KEY (`_parent_id`) REFERENCES `actualites`(`id`) ON UPDATE no action ON DELETE cascade
);
INSERT INTO actualites_carousel VALUES(1,2,'699fa14effd8067f3fa46daa',2);
INSERT INTO actualites_carousel VALUES(2,2,'699fa17affd8067f3fa46dac',3);
INSERT INTO actualites_carousel VALUES(3,2,'699fa18cffd8067f3fa46dae',4);
CREATE TABLE `actualites_carousel_locales` (
	`caption` text,
	`id` integer PRIMARY KEY NOT NULL,
	`_locale` text NOT NULL,
	`_parent_id` text NOT NULL,
	FOREIGN KEY (`_parent_id`) REFERENCES `actualites_carousel`(`id`) ON UPDATE no action ON DELETE cascade
);
INSERT INTO actualites_carousel_locales VALUES('',1,'fr','699fa18cffd8067f3fa46dae');
CREATE TABLE `actualites` (
	`id` integer PRIMARY KEY NOT NULL,
	`og_image_id` integer,
	`slug` text,
	`author_id` integer,
	`publish_date` text,
	`updated_at` text DEFAULT (strftime('%Y-%m-%dT%H:%M:%fZ', 'now')) NOT NULL,
	`created_at` text DEFAULT (strftime('%Y-%m-%dT%H:%M:%fZ', 'now')) NOT NULL,
	`_status` text DEFAULT 'draft',
	FOREIGN KEY (`og_image_id`) REFERENCES `media`(`id`) ON UPDATE no action ON DELETE set null,
	FOREIGN KEY (`author_id`) REFERENCES `users`(`id`) ON UPDATE no action ON DELETE set null
);
INSERT INTO actualites VALUES(1,NULL,'dossier-yake-camille-ye-et-autres-du-mouta-mouta-dans-les-marches-de-livraison-des-pagnes-du-8-mars-2024-ds',1,'2026-02-25T23:52:17.189Z','2026-02-26T01:18:54.461Z','2026-02-25T23:52:17.205Z','published');
INSERT INTO actualites VALUES(2,NULL,'burkinareajustement-du-nombre-de-plats-dans-les-restaurants-universitaires-aucun-etudiant-ne-sera-prive-de-ses-repas-quotidiens-clarifie-le-cenou',1,'2026-02-26T01:23:03.656Z','2026-02-26T01:30:08.376Z','2026-02-26T01:23:03.678Z','published');
INSERT INTO actualites VALUES(3,NULL,'burkina-faso-apres-des-scandales-de-corruption-ledile-de-la-capitale-sermonne-la-police-municipale',1,'2026-02-26T01:30:38.874Z','2026-02-26T01:33:51.662Z','2026-02-26T01:30:38.889Z','published');
CREATE TABLE `actualites_locales` (
	`title` text,
	`excerpt` text,
	`text_before_carousel` text,
	`content` text,
	`meta_title` text,
	`meta_description` text,
	`id` integer PRIMARY KEY NOT NULL,
	`_locale` text NOT NULL,
	`_parent_id` integer NOT NULL,
	FOREIGN KEY (`_parent_id`) REFERENCES `actualites`(`id`) ON UPDATE no action ON DELETE cascade
);
INSERT INTO actualites_locales VALUES(NULL,NULL,NULL,NULL,NULL,NULL,1,'en',1);
INSERT INTO actualites_locales VALUES(NULL,NULL,NULL,NULL,NULL,NULL,3,'en',2);
CREATE TABLE `actualites_rels` (
	`id` integer PRIMARY KEY NOT NULL,
	`order` integer,
	`parent_id` integer NOT NULL,
	`path` text NOT NULL,
	`categories_id` integer,
	`tags_id` integer,
	FOREIGN KEY (`parent_id`) REFERENCES `actualites`(`id`) ON UPDATE no action ON DELETE cascade,
	FOREIGN KEY (`categories_id`) REFERENCES `categories`(`id`) ON UPDATE no action ON DELETE cascade,
	FOREIGN KEY (`tags_id`) REFERENCES `tags`(`id`) ON UPDATE no action ON DELETE cascade
);
CREATE TABLE `_actualites_v_version_carousel` (
	`_order` integer NOT NULL,
	`_parent_id` integer NOT NULL,
	`id` integer PRIMARY KEY NOT NULL,
	`image_id` integer,
	`_uuid` text,
	FOREIGN KEY (`image_id`) REFERENCES `media`(`id`) ON UPDATE no action ON DELETE set null,
	FOREIGN KEY (`_parent_id`) REFERENCES `_actualites_v`(`id`) ON UPDATE no action ON DELETE cascade
);
INSERT INTO _actualites_v_version_carousel VALUES(1,9,1,2,'699fa14effd8067f3fa46daa');
INSERT INTO _actualites_v_version_carousel VALUES(2,9,2,3,'699fa17affd8067f3fa46dac');
INSERT INTO _actualites_v_version_carousel VALUES(3,9,3,4,'699fa18cffd8067f3fa46dae');
CREATE TABLE `_actualites_v_version_carousel_locales` (
	`caption` text,
	`id` integer PRIMARY KEY NOT NULL,
	`_locale` text NOT NULL,
	`_parent_id` integer NOT NULL,
	FOREIGN KEY (`_parent_id`) REFERENCES `_actualites_v_version_carousel`(`id`) ON UPDATE no action ON DELETE cascade
);
INSERT INTO _actualites_v_version_carousel_locales VALUES('',1,'fr',3);
INSERT INTO _actualites_v_version_carousel_locales VALUES(NULL,2,'en',4);
INSERT INTO _actualites_v_version_carousel_locales VALUES(NULL,3,'fr',4);
CREATE TABLE `_actualites_v` (
	`id` integer PRIMARY KEY NOT NULL,
	`parent_id` integer,
	`version_og_image_id` integer,
	`version_slug` text,
	`version_author_id` integer,
	`version_publish_date` text,
	`version_updated_at` text,
	`version_created_at` text,
	`version__status` text DEFAULT 'draft',
	`created_at` text DEFAULT (strftime('%Y-%m-%dT%H:%M:%fZ', 'now')) NOT NULL,
	`updated_at` text DEFAULT (strftime('%Y-%m-%dT%H:%M:%fZ', 'now')) NOT NULL,
	`snapshot` integer,
	`published_locale` text,
	`latest` integer,
	`autosave` integer,
	FOREIGN KEY (`parent_id`) REFERENCES `actualites`(`id`) ON UPDATE no action ON DELETE set null,
	FOREIGN KEY (`version_og_image_id`) REFERENCES `media`(`id`) ON UPDATE no action ON DELETE set null,
	FOREIGN KEY (`version_author_id`) REFERENCES `users`(`id`) ON UPDATE no action ON DELETE set null
);
INSERT INTO _actualites_v VALUES(1,1,NULL,NULL,1,'2026-02-25T23:52:17.189Z','2026-02-25T23:52:17.206Z','2026-02-25T23:52:17.205Z','draft','2026-02-25T23:52:17.220Z','2026-02-25T23:52:17.220Z',NULL,NULL,0,0);
INSERT INTO _actualites_v VALUES(2,1,NULL,'Dossier ┬½ Yak├⌐ Camille Y├⌐ et autres ┬╗ : Du ┬½ mouta mouta ┬╗* dans les march├⌐s de livraison des pagnes du 8-mars 2024 ?',1,'2026-02-25T23:52:17.189Z','2026-02-26T00:10:27.360Z','2026-02-25T23:52:17.205Z','draft','2026-02-26T00:01:57.669Z','2026-02-26T00:10:27.360Z',NULL,NULL,0,1);
INSERT INTO _actualites_v VALUES(3,1,NULL,'Dossier ┬½ Yak├⌐ Camille Y├⌐ et autres ┬╗ : Du ┬½ mouta mouta ┬╗* dans les march├⌐s de livraison des pagnes du 8-mars 2024 ?',1,'2026-02-25T23:52:17.189Z','2026-02-26T00:10:41.390Z','2026-02-25T23:52:17.205Z','published','2026-02-26T00:10:41.440Z','2026-02-26T00:10:41.440Z',NULL,NULL,0,0);
CREATE TABLE `_actualites_v_locales` (
	`version_title` text,
	`version_excerpt` text,
	`version_text_before_carousel` text,
	`version_content` text,
	`version_meta_title` text,
	`version_meta_description` text,
	`id` integer PRIMARY KEY NOT NULL,
	`_locale` text NOT NULL,
	`_parent_id` integer NOT NULL,
	FOREIGN KEY (`_parent_id`) REFERENCES `_actualites_v`(`id`) ON UPDATE no action ON DELETE cascade
);
INSERT INTO _actualites_v_locales VALUES(NULL,NULL,NULL,NULL,NULL,NULL,1,'en',1);
INSERT INTO _actualites_v_locales VALUES(NULL,NULL,NULL,NULL,NULL,NULL,2,'fr',1);
INSERT INTO _actualites_v_locales VALUES(NULL,NULL,NULL,NULL,NULL,NULL,3,'en',2);
CREATE TABLE `_actualites_v_rels` (
	`id` integer PRIMARY KEY NOT NULL,
	`order` integer,
	`parent_id` integer NOT NULL,
	`path` text NOT NULL,
	`categories_id` integer,
	`tags_id` integer,
	FOREIGN KEY (`parent_id`) REFERENCES `_actualites_v`(`id`) ON UPDATE no action ON DELETE cascade,
	FOREIGN KEY (`categories_id`) REFERENCES `categories`(`id`) ON UPDATE no action ON DELETE cascade,
	FOREIGN KEY (`tags_id`) REFERENCES `tags`(`id`) ON UPDATE no action ON DELETE cascade
);
CREATE TABLE `payload_kv` (
	`id` integer PRIMARY KEY NOT NULL,
	`key` text NOT NULL,
	`data` text NOT NULL
);
CREATE TABLE `payload_locked_documents` (
	`id` integer PRIMARY KEY NOT NULL,
	`global_slug` text,
	`updated_at` text DEFAULT (strftime('%Y-%m-%dT%H:%M:%fZ', 'now')) NOT NULL,
	`created_at` text DEFAULT (strftime('%Y-%m-%dT%H:%M:%fZ', 'now')) NOT NULL
);
CREATE TABLE `payload_locked_documents_rels` (
	`id` integer PRIMARY KEY NOT NULL,
	`order` integer,
	`parent_id` integer NOT NULL,
	`path` text NOT NULL,
	`users_id` integer,
	`media_id` integer,
	`categories_id` integer,
	`tags_id` integer,
	`actualites_id` integer,
	FOREIGN KEY (`parent_id`) REFERENCES `payload_locked_documents`(`id`) ON UPDATE no action ON DELETE cascade,
	FOREIGN KEY (`users_id`) REFERENCES `users`(`id`) ON UPDATE no action ON DELETE cascade,
	FOREIGN KEY (`media_id`) REFERENCES `media`(`id`) ON UPDATE no action ON DELETE cascade,
	FOREIGN KEY (`categories_id`) REFERENCES `categories`(`id`) ON UPDATE no action ON DELETE cascade,
	FOREIGN KEY (`tags_id`) REFERENCES `tags`(`id`) ON UPDATE no action ON DELETE cascade,
	FOREIGN KEY (`actualites_id`) REFERENCES `actualites`(`id`) ON UPDATE no action ON DELETE cascade
);
CREATE TABLE `payload_preferences` (
	`id` integer PRIMARY KEY NOT NULL,
	`key` text,
	`value` text,
	`updated_at` text DEFAULT (strftime('%Y-%m-%dT%H:%M:%fZ', 'now')) NOT NULL,
	`created_at` text DEFAULT (strftime('%Y-%m-%dT%H:%M:%fZ', 'now')) NOT NULL
);
INSERT INTO payload_preferences VALUES(1,'collection-users','{}','2026-02-25T23:51:36.551Z','2026-02-25T23:51:36.547Z');
INSERT INTO payload_preferences VALUES(2,'collection-media','{"editViewType":"default"}','2026-02-26T00:06:53.959Z','2026-02-25T23:51:40.711Z');
INSERT INTO payload_preferences VALUES(3,'collection-categories','{}','2026-02-25T23:51:49.005Z','2026-02-25T23:51:49.004Z');
CREATE TABLE `payload_preferences_rels` (
	`id` integer PRIMARY KEY NOT NULL,
	`order` integer,
	`parent_id` integer NOT NULL,
	`path` text NOT NULL,
	`users_id` integer,
	FOREIGN KEY (`parent_id`) REFERENCES `payload_preferences`(`id`) ON UPDATE no action ON DELETE cascade,
	FOREIGN KEY (`users_id`) REFERENCES `users`(`id`) ON UPDATE no action ON DELETE cascade
);
INSERT INTO payload_preferences_rels VALUES(1,NULL,1,'user',1);
INSERT INTO payload_preferences_rels VALUES(3,NULL,3,'user',1);
INSERT INTO payload_preferences_rels VALUES(4,NULL,4,'user',1);
CREATE TABLE `payload_migrations` (
	`id` integer PRIMARY KEY NOT NULL,
	`name` text,
	`batch` numeric,
	`updated_at` text DEFAULT (strftime('%Y-%m-%dT%H:%M:%fZ', 'now')) NOT NULL,
	`created_at` text DEFAULT (strftime('%Y-%m-%dT%H:%M:%fZ', 'now')) NOT NULL
);
INSERT INTO payload_migrations VALUES(1,'dev',-1,'2026-02-28 23:55:40','2026-02-25T23:47:33.958Z');
CREATE INDEX `users_sessions_order_idx` ON `users_sessions` (`_order`);
CREATE INDEX `users_sessions_parent_id_idx` ON `users_sessions` (`_parent_id`);
CREATE INDEX `users_avatar_idx` ON `users` (`avatar_id`);
CREATE INDEX `users_updated_at_idx` ON `users` (`updated_at`);
CREATE INDEX `users_created_at_idx` ON `users` (`created_at`);
CREATE UNIQUE INDEX `users_email_idx` ON `users` (`email`);
CREATE INDEX `media_updated_at_idx` ON `media` (`updated_at`);
CREATE INDEX `media_created_at_idx` ON `media` (`created_at`);
CREATE UNIQUE INDEX `media_filename_idx` ON `media` (`filename`);
CREATE INDEX `media_sizes_thumbnail_sizes_thumbnail_filename_idx` ON `media` (`sizes_thumbnail_filename`);
CREATE INDEX `media_sizes_card_sizes_card_filename_idx` ON `media` (`sizes_card_filename`);
CREATE INDEX `media_sizes_hero_sizes_hero_filename_idx` ON `media` (`sizes_hero_filename`);
CREATE UNIQUE INDEX `media_locales_locale_parent_id_unique` ON `media_locales` (`_locale`,`_parent_id`);
CREATE UNIQUE INDEX `categories_slug_idx` ON `categories` (`slug`);
CREATE INDEX `categories_updated_at_idx` ON `categories` (`updated_at`);
CREATE INDEX `categories_created_at_idx` ON `categories` (`created_at`);
CREATE UNIQUE INDEX `categories_locales_locale_parent_id_unique` ON `categories_locales` (`_locale`,`_parent_id`);
CREATE UNIQUE INDEX `tags_slug_idx` ON `tags` (`slug`);
CREATE INDEX `tags_updated_at_idx` ON `tags` (`updated_at`);
CREATE INDEX `tags_created_at_idx` ON `tags` (`created_at`);
CREATE UNIQUE INDEX `tags_locales_locale_parent_id_unique` ON `tags_locales` (`_locale`,`_parent_id`);
CREATE INDEX `actualites_carousel_order_idx` ON `actualites_carousel` (`_order`);
CREATE INDEX `actualites_carousel_parent_id_idx` ON `actualites_carousel` (`_parent_id`);
CREATE INDEX `actualites_carousel_image_idx` ON `actualites_carousel` (`image_id`);
CREATE UNIQUE INDEX `actualites_carousel_locales_locale_parent_id_unique` ON `actualites_carousel_locales` (`_locale`,`_parent_id`);
CREATE INDEX `actualites_og_image_idx` ON `actualites` (`og_image_id`);
CREATE UNIQUE INDEX `actualites_slug_idx` ON `actualites` (`slug`);
CREATE INDEX `actualites_author_idx` ON `actualites` (`author_id`);
CREATE INDEX `actualites_updated_at_idx` ON `actualites` (`updated_at`);
CREATE INDEX `actualites_created_at_idx` ON `actualites` (`created_at`);
CREATE INDEX `actualites__status_idx` ON `actualites` (`_status`);
CREATE UNIQUE INDEX `actualites_locales_locale_parent_id_unique` ON `actualites_locales` (`_locale`,`_parent_id`);
CREATE INDEX `actualites_rels_order_idx` ON `actualites_rels` (`order`);
CREATE INDEX `actualites_rels_parent_idx` ON `actualites_rels` (`parent_id`);
CREATE INDEX `actualites_rels_path_idx` ON `actualites_rels` (`path`);
CREATE INDEX `actualites_rels_categories_id_idx` ON `actualites_rels` (`categories_id`);
CREATE INDEX `actualites_rels_tags_id_idx` ON `actualites_rels` (`tags_id`);
CREATE INDEX `_actualites_v_version_carousel_order_idx` ON `_actualites_v_version_carousel` (`_order`);
CREATE INDEX `_actualites_v_version_carousel_parent_id_idx` ON `_actualites_v_version_carousel` (`_parent_id`);
CREATE INDEX `_actualites_v_version_carousel_image_idx` ON `_actualites_v_version_carousel` (`image_id`);
CREATE UNIQUE INDEX `_actualites_v_version_carousel_locales_locale_parent_id_uniq` ON `_actualites_v_version_carousel_locales` (`_locale`,`_parent_id`);
CREATE INDEX `_actualites_v_parent_idx` ON `_actualites_v` (`parent_id`);
CREATE INDEX `_actualites_v_version_version_og_image_idx` ON `_actualites_v` (`version_og_image_id`);
CREATE INDEX `_actualites_v_version_version_slug_idx` ON `_actualites_v` (`version_slug`);
CREATE INDEX `_actualites_v_version_version_author_idx` ON `_actualites_v` (`version_author_id`);
CREATE INDEX `_actualites_v_version_version_updated_at_idx` ON `_actualites_v` (`version_updated_at`);
CREATE INDEX `_actualites_v_version_version_created_at_idx` ON `_actualites_v` (`version_created_at`);
CREATE INDEX `_actualites_v_version_version__status_idx` ON `_actualites_v` (`version__status`);
CREATE INDEX `_actualites_v_created_at_idx` ON `_actualites_v` (`created_at`);
CREATE INDEX `_actualites_v_updated_at_idx` ON `_actualites_v` (`updated_at`);
CREATE INDEX `_actualites_v_snapshot_idx` ON `_actualites_v` (`snapshot`);
CREATE INDEX `_actualites_v_published_locale_idx` ON `_actualites_v` (`published_locale`);
CREATE INDEX `_actualites_v_latest_idx` ON `_actualites_v` (`latest`);
CREATE INDEX `_actualites_v_autosave_idx` ON `_actualites_v` (`autosave`);
CREATE UNIQUE INDEX `_actualites_v_locales_locale_parent_id_unique` ON `_actualites_v_locales` (`_locale`,`_parent_id`);
CREATE INDEX `_actualites_v_rels_order_idx` ON `_actualites_v_rels` (`order`);
CREATE INDEX `_actualites_v_rels_parent_idx` ON `_actualites_v_rels` (`parent_id`);
CREATE INDEX `_actualites_v_rels_path_idx` ON `_actualites_v_rels` (`path`);
CREATE INDEX `_actualites_v_rels_categories_id_idx` ON `_actualites_v_rels` (`categories_id`);
CREATE INDEX `_actualites_v_rels_tags_id_idx` ON `_actualites_v_rels` (`tags_id`);
CREATE UNIQUE INDEX `payload_kv_key_idx` ON `payload_kv` (`key`);
CREATE INDEX `payload_locked_documents_global_slug_idx` ON `payload_locked_documents` (`global_slug`);
CREATE INDEX `payload_locked_documents_updated_at_idx` ON `payload_locked_documents` (`updated_at`);
CREATE INDEX `payload_locked_documents_created_at_idx` ON `payload_locked_documents` (`created_at`);
CREATE INDEX `payload_locked_documents_rels_order_idx` ON `payload_locked_documents_rels` (`order`);
CREATE INDEX `payload_locked_documents_rels_parent_idx` ON `payload_locked_documents_rels` (`parent_id`);
CREATE INDEX `payload_locked_documents_rels_path_idx` ON `payload_locked_documents_rels` (`path`);
CREATE INDEX `payload_locked_documents_rels_users_id_idx` ON `payload_locked_documents_rels` (`users_id`);
CREATE INDEX `payload_locked_documents_rels_media_id_idx` ON `payload_locked_documents_rels` (`media_id`);
CREATE INDEX `payload_locked_documents_rels_categories_id_idx` ON `payload_locked_documents_rels` (`categories_id`);
CREATE INDEX `payload_locked_documents_rels_tags_id_idx` ON `payload_locked_documents_rels` (`tags_id`);
CREATE INDEX `payload_locked_documents_rels_actualites_id_idx` ON `payload_locked_documents_rels` (`actualites_id`);
CREATE INDEX `payload_preferences_key_idx` ON `payload_preferences` (`key`);
CREATE INDEX `payload_preferences_updated_at_idx` ON `payload_preferences` (`updated_at`);
CREATE INDEX `payload_preferences_created_at_idx` ON `payload_preferences` (`created_at`);
CREATE INDEX `payload_preferences_rels_order_idx` ON `payload_preferences_rels` (`order`);
CREATE INDEX `payload_preferences_rels_parent_idx` ON `payload_preferences_rels` (`parent_id`);
CREATE INDEX `payload_preferences_rels_path_idx` ON `payload_preferences_rels` (`path`);
CREATE INDEX `payload_preferences_rels_users_id_idx` ON `payload_preferences_rels` (`users_id`);
CREATE INDEX `payload_migrations_updated_at_idx` ON `payload_migrations` (`updated_at`);
CREATE INDEX `payload_migrations_created_at_idx` ON `payload_migrations` (`created_at`);
